/** @format */

.about-us-container {
  width: 700px;
  margin: auto;
  text-align: justify;
}

.about-us-description {
  font-size: 16px;
  color: #2805f0;
  margin-bottom: 30px;
  text-align: center;
}

.about-us-content {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Responsivo */

@media (max-width: 767px) {
  .about-us-container {
    width: 85%;
  }
  .about-us-description {
    font-size: 17px;
  }
  .about-us-content {
    font-size: 15px;
  }
}

@media (max-width: 1220px) {
  .about-us-container {
    width: 85%;
  }
  .about-us-description {
    font-size: 17px;
  }
  .about-us-content {
    font-size: 15px;
  }
}
